$ivy-light: #007974;
$ivy-dark: #066;
$light-gray: #d8d8d8;

body {
  font-family: "avenir-medium";
  font-size: 1em;
  background-color: $ivy-light;
  color: #fff;
}
h4 {
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 12px;
  font-family: 'avenir-book';
}
.alert {
  text-align: center;
}
.small-input {
  width: 4em !important;
}
.form-inline {
  padding-bottom: 16px;
}
* {
  border-radius: 0 !important;
}
.submit {
  background-color: $light-gray;
  border: 1px $ivy-dark solid;
  color: $ivy-light;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  // body {
  //   font-size: 2em;
  // }
  // h4 {
  //   font-size: 1.5em;
  // }
}

/* Extra Small Devices, Phones */
// @media only screen and (min-width : 543px) {
//   .form-inline {
//     display:inline;
//   }
//
// }

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
