$ivy-light: #007974;
$ivy-dark: #066;
$light-gray: #d8d8d8;

body {
  font-family: "avenir-medium";
  font-size: 1em;
  background-color: $ivy-light;
  color: #fff;
}
h4 {
  padding-top: 16px;
  padding-bottom: 12px;
  font-family: 'avenir-book';
}
.alert {
  text-align: center;
}
.small-input {
  width: 4em !important;
}
.form-inline {
  padding-bottom: 16px;
}
* {
  border-radius: 0 !important;
}
.submit {
  background-color: $ivy-dark;
  border: 1px $light-gray solid;
  color: #fff;
}
